.account {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 16%;
    background-color:white;
    margin-left: 1050px;
    border-radius: 8px;
    /* margin: 8px; */
    z-index: 1;
    position: fixed;
}

.account__button {
    text-align: center !important;
    margin: 8px !important;
    padding: 5px !important;
    border-radius: 7px;
    border-bottom: 1px solid rgb(158, 156, 156);
}

.account__button > button {
    background-color:orangered !important;
    color: white !important;
    width: 100%;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

.account__divs {
    display: flex;
    /* margin: 8px; */
    padding: 8px;
}

.account__divs:hover {
    background-color: whitesmoke;
    cursor: pointer;

}

.account__divs .MuiSvgIcon-root {
    padding-right: 15px;
    font-size: 25px;
}

.account__divs > h5 {
    font-weight: 450;
    color: gray;
}